.post {
  background-color: white;
  margin-top: 10px;
  border-radius: 10px;
  padding: 15px;
}
.post__header {
  display: flex;
  margin-bottom: 10px;
}
.post__info {
  margin-left: 10px;
}
.post__info > p {
  font-size: 12px;
  color: gray;
}

.post__info > h2 {
  font-size: 15px;
}
.post__body {
  overflow-wrap: anywhere;
}
